In [3]:
import pandas as pd

In [4]:
results = []
year = 2022
for i in range(2023, 3001):
    year = year + 1
    surface_temp = (0.0117089*year)+-22.7447
    greenland = (-175.395*year)+350645
    co2 = (.58499*year)+-1143.64
    surface_temp_coef = 1.80675921e-01
    greenland_coef = -1.76801539e-04
    co2_coef = 1.44696647e-01
    intercept = 3.24103213
    adj_sealevel = (surface_temp_coef*surface_temp)+(greenland_coef*greenland)+(co2_coef*co2)+intercept
    results.append((i, adj_sealevel, surface_temp, greenland, co2))

In [7]:
df = pd.DataFrame(results, columns = ['Year', 'Projected Adjusted Sea Level (in)', 'Projected Global Surface Temperature Anomaly (celsius)', 'Projected Greenland Ice Mass Change (billion metric tons)', 'Projected Global CO2 Emissions (billion metric tons)'])

In [8]:
df

,Year,Projected Adjusted Sea Level (in),Projected Global Surface Temperature Anomaly (celsius),Projected Greenland Ice Mass Change (billion metric tons),Projected Global CO2 Emissions (billion metric tons)
0,2023,9.908340,0.942405,-4179.085,39.79477
1,2024,10.026112,0.954114,-4354.480,40.37976
2,2025,10.143884,0.965822,-4529.875,40.96475
3,2026,10.261656,0.977531,-4705.270,41.54974
4,2027,10.379427,0.989240,-4880.665,42.13473
...,...,...,...,...,...
973,2996,124.500218,12.335164,-174838.420,608.99004
974,2997,124.617990,12.346873,-175013.815,609.57503
975,2998,124.735761,12.358582,-175189.210,610.16002
976,2999,124.853533,12.370291,-175364.605,610.74501
977,3000,124.971305,12.382000,-175540.000,611.33000

In [9]:
df.to_csv('C:/Users/cjdas/uofo-virt-data-pt-12-2021-u-b/final_project/allfeatures_projected_to_year3000.csv')