In [26]:
import pandas as pd
import sqlite3

# Calling in CSVs as Pandas DataFrame

## Sealevel Data

In [31]:
climatechange_df = pd.read_csv("climatechangedata.csv", encoding='unicode_escape', on_bad_lines='skip')
climatechange_df.head()

ParserError: Error tokenizing data. C error: Buffer overflow caught - possible malformed input file.

## CO2_Emissions Data

In [29]:
CO2emission_df = pd.read_csv("CO2_Emissions.csv")
CO2emission_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'CO2_Emissions.csv'

In [ ]:
print(CO2emission_df.shape)

(235, 27)

## Environment_Temperature_Change Data

In [ ]:
tempchange_df = pd.read_csv("Environment_Temperature_change.csv",encoding='unicode_escape')
tempchange_df.head()

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [ ]:
print(tempchange_df.shape)

(9656, 66)

In [ ]:
## World_Population Data

In [ ]:
worldpopulation_df = pd.read_csv("world_population.csv", encoding='unicode_escape')
worldpopulation_df.head()

,ï»¿Country Name,Country Code,Indicator Name,1993,1994,1995,1996,1997,1998,1999,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Population, total",72495.0,76705.0,80324,83211,85450,87280,89009,...,102050,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Africa Eastern and Southern,AFE,"Population, total",331265579.0,340379934.0,349605660,358953595,368440591,378098393,387977990,...,532760424,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Afghanistan,AFG,"Population, total",15816601.0,17075728.0,18110662,18853444,19357126,19737770,20170847,...,30117411,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
3,Africa Western and Central,AFW,"Population, total",221754806.0,227692136.0,233807627,240114179,246613750,253302310,260170348,...,360285439,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
4,Angola,AGO,"Population, total",13075044.0,13503753.0,13945205,14400722,14871572,15359600,15866871,...,24220660,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0

In [ ]:
## Climate_Change Data

In [ ]:
climatechange_df = pd.read_csv("climatechangedata.csv", encoding='unicode_escape', on_bad_lines="skip")
climatechange_df.head()

ParserError: Error tokenizing data. C error: Buffer overflow caught - possible malformed input file.

# Migrating Data to SQLite DataBase

In [ ]:
# Set up connection
conn=sqlite3.connect('Resources/db.sqlite')

## Migrating Sealevel Data

In [ ]:
# Convert Pandas DataFrame to SQL Database
sealevel_df.to_sql('sealevel_db', conn, if_exists='replace', index=False)

c:\Users\Swati Goyal\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [ ]:
#  Confirm data is in SQL database.
pd.read_sql('select * from sealevel_db', conn)

,Year,TotalWeightedObservations,Global Isostatic Adjustment,Standard_Deviation_of_Global_Mean_Sea_Level,SmoothedGSML_noGIA,GMSL_GIA,StdDevGMSL_GIA,SmoothedGSML_GIA,SmoothedGSML_GIA_sigremoved
0,1993,327401.31,-38.59,89.86,-38.76,-38.59,89.86,-38.75,-38.57
1,1993,324498.41,-41.97,90.86,-39.78,-41.97,90.86,-39.77,-39.11
2,1993,333018.19,-41.93,87.27,-39.62,-41.91,87.27,-39.61,-38.58
3,1993,297483.19,-42.67,90.75,-39.67,-42.65,90.74,-39.64,-38.34
4,1993,321635.81,-37.86,90.26,-38.75,-37.83,90.25,-38.72,-37.21
...,...,...,...,...,...,...,...,...,...
1043,2021,334929.31,49.26,85.01,49.78,56.17,84.76,56.69,60.49
1044,2021,338042.09,50.49,85.94,49.66,57.42,85.65,56.57,60.56
1045,2021,337369.81,49.65,84.02,49.58,56.57,83.78,56.50,60.53
1046,2021,335464.09,47.46,82.66,49.54,54.41,82.45,56.46,60.36
1047,2021,335065.19,50.07,82.04,49.51,57.01,82.10,56.43,59.98

## Migrating CO2_Emissions Data

In [ ]:
# Convert Pandas DataFrame to SQL Database
CO2emission_df.to_sql('co2emission_db', conn, if_exists='replace', index=False)

c:\Users\Swati Goyal\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [ ]:
#  Confirm data is in SQL database.
pd.read_sql('select * from co2emission_db', conn)

,Country Name,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Africa Eastern and Southern,0.925465,0.918612,0.946475,0.951132,0.971563,0.969680,0.908374,0.900399,0.971981,...,1.021954,1.048876,1.005338,1.021646,1.031833,1.041145,0.987393,0.971016,0.959978,0.933541
1,Afghanistan,0.085986,0.076131,0.069020,0.062588,0.056827,0.053197,0.040653,0.037055,0.037488,...,0.211306,0.297065,0.407074,0.335351,0.263716,0.234037,0.232176,0.208857,0.203328,0.200151
2,Africa Western and Central,0.518952,0.492858,0.487495,0.507633,0.488416,0.461622,0.453549,0.447244,0.474140,...,0.426770,0.472819,0.497023,0.490867,0.504655,0.507671,0.480743,0.472959,0.476438,0.515544
3,Angola,0.527723,0.495418,0.773026,0.792321,0.788753,0.740254,0.797259,0.754476,0.761843,...,1.205902,1.221515,1.216317,1.204799,1.261542,1.285365,1.260921,1.227703,1.034317,0.887380
4,Albania,0.641406,0.667179,0.611710,0.621837,0.470098,0.575350,0.955359,1.026213,1.052228,...,1.475652,1.572251,1.734823,1.579092,1.654524,1.806789,1.759987,1.714126,1.948872,1.939732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Samoa,0.718060,0.711368,0.705675,0.759501,0.755528,0.810002,0.806424,0.859826,0.855217,...,1.029515,1.021813,1.066843,1.057703,1.048702,1.092498,1.240246,1.542099,1.535642,1.631588
235,"Yemen, Rep.",0.595566,0.593106,0.661825,0.651614,0.679157,0.713057,0.778316,0.797860,0.841594,...,1.139166,1.036068,0.869051,0.804146,1.047834,1.034330,0.536269,0.400468,0.361418,0.326682
236,South Africa,6.217680,6.212642,6.375894,6.486114,6.721030,6.787882,6.280539,6.331876,7.035134,...,8.004039,8.300179,7.867124,8.076633,8.137333,8.213158,7.671202,7.564451,7.632729,7.496645
237,Zambia,0.291111,0.241270,0.234153,0.188442,0.237559,0.219937,0.173560,0.173772,0.171153,...,0.186907,0.194032,0.218210,0.277909,0.284058,0.311693,0.319282,0.341615,0.414748,0.446065
238,Zimbabwe,1.539741,1.417186,1.356619,1.287559,1.186793,1.197745,1.338101,1.153055,1.165725,...,0.618665,0.772579,0.891090,0.923360,0.925816,0.894256,0.897598,0.783303,0.718570,0.849793

In [ ]:
## Migrating World_Population_Change Data

In [ ]:
# Convert Pandas DataFrame to SQL Database
worldpopulation_df.to_sql('worldpopulation_db', conn, if_exists='replace', index=False)

c:\Users\Swati Goyal\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [ ]:
#  Confirm data is in SQL database.
pd.read_sql('select * from worldpopulation_db', conn)

,ï»¿Country Name,Country Code,Indicator Name,1993,1994,1995,1996,1997,1998,1999,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Population, total",72495.0,76705.0,80324,83211,85450,87280,89009,...,102050,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Africa Eastern and Southern,AFE,"Population, total",331265579.0,340379934.0,349605660,358953595,368440591,378098393,387977990,...,532760424,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Afghanistan,AFG,"Population, total",15816601.0,17075728.0,18110662,18853444,19357126,19737770,20170847,...,30117411,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
3,Africa Western and Central,AFW,"Population, total",221754806.0,227692136.0,233807627,240114179,246613750,253302310,260170348,...,360285439,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
4,Angola,AGO,"Population, total",13075044.0,13503753.0,13945205,14400722,14871572,15359600,15866871,...,24220660,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Kosovo,XKX,"Population, total",1965000.0,1997000.0,2029000,2059000,2086000,1966000,1762000,...,1791000,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0
256,"Yemen, Rep.",YEM,"Population, total",13634082.0,14297617.0,14913313,15469274,15975676,16450306,16921157,...,23807586,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0
257,South Africa,ZAF,"Population, total",39633754.0,40564061.0,41435761,42241007,42987456,43682259,44338551,...,52003759,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,59308690.0
258,Zambia,ZMB,"Population, total",8656484.0,8869745.0,9096608,9339740,9597610,9866474,10140564,...,14023199,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0
259,Zimbabwe,ZWE,"Population, total",11092775.0,11261752.0,11410721,11541215,11653254,11747079,11822722,...,12894323,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0

In [ ]:
## Migrating Environment_Temperature_Change Data

In [ ]:
# Convert Pandas DataFrame to SQL Database
tempchange_df.to_sql('tempchange_db', conn, if_exists='replace', index=False)

c:\Users\Swati Goyal\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [ ]:
#  Confirm data is in SQL database.
pd.read_sql('select * from tempchange_db', conn)

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9651,5873,OECD,7018,JunJulAug,6078,Standard Deviation,°C,0.247,0.247,0.247,...,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247
9652,5873,OECD,7019,SepOctNov,7271,Temperature change,°C,0.036,0.461,0.665,...,0.958,1.106,0.885,1.041,0.999,1.670,1.535,1.194,0.581,1.233
9653,5873,OECD,7019,SepOctNov,6078,Standard Deviation,°C,0.378,0.378,0.378,...,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378
9654,5873,OECD,7020,Meteorological year,7271,Temperature change,°C,0.165,-0.009,0.134,...,1.246,0.805,1.274,0.991,0.811,1.282,1.850,1.349,1.088,1.297
9655,5873,OECD,7020,Meteorological year,6078,Standard Deviation,°C,0.260,0.260,0.260,...,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260