In [1]:
import pandas as pd

In [3]:
results = []
year = 2022
for i in range(2023, 3001):
    year = year + 1
    surface_temp = (0.0117089*year)+-22.7447
    greenland = (-175.395*year)+350645
    co2 = (.58499*year)+-1143.64
    surface_temp_coef = 1.80675921e-01
    greenland_coef = -1.76801539e-04
    co2_coef = 1.44696647e-01
    intercept = 3.24103213
    adj_sealevel = (surface_temp_coef*surface_temp)+(greenland_coef*greenland)+(co2_coef*co2)+intercept
    results.append((i, adj_sealevel))

In [9]:
df = pd.DataFrame(results, columns = ['Year', 'Projected Adjusted Sea Level'])

In [10]:
df

     Year  Projected Adjusted Sea Level
0    2023                      9.908340
1    2024                     10.026112
2    2025                     10.143884
3    2026                     10.261656
4    2027                     10.379427
..    ...                           ...
973  2996                    124.500218
974  2997                    124.617990
975  2998                    124.735761
976  2999                    124.853533
977  3000                    124.971305

[978 rows x 2 columns]

In [ ]:
df.to_csv('C:/Users/cjdas/uofo-virt-data-pt-12-2021-u-b/final_project/sealevels_projected_to_year3000.csv')